# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Uploads folder (optional, can exclude if you want local testing only)
uploads/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
